
h1 {
	text-align: center;
	font-size: 48px;
	margin-bottom: 8px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 18px;
}

h3 {
	font-size: 24px;

}

body {
	background-color: #d1f0fc;
/*	font-family: 'Roboto', sans-serif; 
font-family: 'Signika', sans-serif; */

}

p {
	font-size: 18px;
}

#displayBlanks {
	font-size: 36px;
}

#guessesRemaining {
	margin-top: 96px;
}


.container {
    margin: 18px auto;
    width: 800px;
    background-color: #b2b9c4;
    border: 1px solid #A9A9A9;
    box-shadow: 2px 4px 10px #000205;
    border-radius: 4px;
    padding: 10px;
    height: 640px;
    position: relative;
}

#infoDisplay, #gameDisplay {
	position: absolute;
	box-shadow: 0px 0px 4px #000205 inset;
	height: 560px;
	padding: 10px 4px 0 4px;
	width: 388px;
}

#infoDisplay {
/*	border: 2px blue solid; */
	background-color: white;
	border-radius: 4px;
	overflow: scroll;
	margin-right: 2px;
}

#infoDisplay img {
	width: 100%;
}

#infoDisplay p {
	margin: 32px;
}

#gameDisplay {
	right: 10px;
	margin-left: 2px;
	background-color: white;
	border-radius: 4px;
	text-align: center;
}

#gameDisplay p {
	margin: 0 2px 18px 2px;
}

#hint {
	text-align: left;
	margin-left: 18px;
	margin-right: 18px;
}

#showKeyboard {
	display: none;
}


/* MOBILE SUPPORT */


